<div class = "match-container">
    <div class="grid-item">
        <div class = "match-picture"><img src="../../assets/player-picture-placeholder.jpg" alt="Match picture">
        </div>
    </div>

    <div class="grid-item">
        <section class = "text">
        <p><strong>id:</strong> {{ match.date}}</p>
        <p><strong>id:</strong> {{ match.location}}</p>
        <p><strong>id:</strong> {{ match.matchId}}</p>
        <p><strong>id:</strong> {{ match.team1Score}}</p>        
        <p><strong>id:</strong> {{ match.team2Score}}</p>
        <p><strong>id:</strong> {{ match.time}}</p>
        </section>
    </div>
    <div class="grid-item">
        <section class = "text">
            <p>Here we would put a short description, and fun facts</p>
        </section>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">        
        <div class="button">
            <a routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Delete</a>
        </div>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <div class="button">
            <a routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Update</a>
        </div>
    </div>
    <div class="grid-item">
        <section>
        <p>FORM</p>
        </section></div>
    <div class="grid-item"></div>
</div>