<div class="match-container">
    <div class="grid-item">
        <div class="match-picture"><img src="../../assets/match-picture-placeholder.jpg" alt="Match picture">
        </div>
    </div>

    <div *ngIf="match">
        <h2>Match Details</h2>
        <p>{{match.homeTeamEntity.name}} <strong> VS </strong>{{match.awayTeamEntity.name}}</p>
        <p><strong>Match Score: </strong>{{match.hometeamscore}} - {{match.awayteamscore}}</p>
        <p><strong>Date: </strong>{{match.date}}</p>
        <p><strong>time: </strong>{{match.time}}</p>
        <!-- Add more player details as needed -->
      </div>
      <div *ngIf="!match">
        <p>Loading match details...</p>
      </div>
  
    <div class="grid-item">
        <section class="text">
            <p>Here we would put a short description, and fun facts</p>
        </section>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <div class="button">
            <button (click)="onDelete()">Delete</button></div>
    </div>
    <div class="grid-item">
        <section>
            <div>
                <form (ngSubmit)="OnUpdate(match)">
                    <div class="form-group">
                        <label for="homeTeam">Team 1:</label>
                        <input id="homeTeam" name="homeTeam" [(ngModel)]="match.hometeam" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="awayTeam">Team 2:</label>
                        <input id="awayTeam" name="awayTeam" [(ngModel)]="match.awayteam" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="homeTeamScore">Score team 1:</label>
                        <input id="homeTeamScore" name="homeTeamScore" [(ngModel)]="match.hometeamscore" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="awayTeamScore">Score awayTeam:</label>
                        <input id="awayTeamScore" name="awayTeamScore" [(ngModel)]="match.awayteamscore" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="date">Date: </label>
                        <input id="date" name="date" [(ngModel)]="match.date" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Time: </label>
                        <input id="time" name="time" [(ngModel)]="match.time" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="location">Location: </label>
                        <input id="location" name="location" [(ngModel)]="match.location" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Match</button>
                </form>
            </div>
        </section>
    </div>
    <div class="grid-item"></div>
</div>