<div class="player-container">
    <div class="grid-item">
        <div class="player-picture"><img src="../../assets/player-picture-placeholder.jpg" alt="Player picture"></div>
        <!--<div class="player-picture">{{player.image}}</div>-->
    </div>

    <div *ngIf="player">
        <h2>Player Details</h2>
        <p><strong>id:</strong> {{ player.id }}</p>
        <p><strong>Name:</strong> {{ player.name }}</p>
        <p><strong>Age:</strong> {{ player.age }}</p>
        <p><strong>Position:</strong> {{ player.position }}</p>
        <p><strong>Number:</strong> {{ player.number }}</p>
        
        <!-- Add more player details as needed -->
      </div>
      <div *ngIf="!player">
        <p>Loading player details...</p>
      </div>
  
    <div class="grid-item">
        <section class="text">
            <p>Here we would put a short description, and fun facts</p>
            <p>Or perhaps red/yellow cards, goals, etc.</p>
        </section>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <div class="button">
            <button (click)="onDelete()">Delete</button>
        </div>
    </div>
    <div class="grid-item">
        <div>
            <form (ngSubmit)="OnUpdate(player)">
                <p>Player Id: {{player.id}}</p>
                <div class="form-group">
                <label for="name">Name:</label>
                  <input id="name" name="name" [(ngModel)]="player.name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="position">Position:</label>
                  <input id="position" name="position" [(ngModel)]="player.position" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="age">Age:</label>
                  <input id="age" name="age" [(ngModel)]="player.age" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="number">Number:</label>
                  <input id="number" name="number" [(ngModel)]="player.number" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Update Player</button>
            </form>
        </div>
        </div>
        <div *ngIf="isPlayerUpdated" class="success-message">
            {{successMessage}}
        </div>
        <div *ngIf="isPlayerDeleted" class="success-message">
            {{successMessage}}
        </div>
</div>