<div class="match">
    <!-- <h3>{{ match.homeTeam }}</h3>
    <p>Date: {{ match.awayTeam }}</p> -->
    <p>Location: {{match.location}}</p>
    <p>Score: {{ match.homeTeamScore}} - {{ match.awayTeamScore }}</p>
    <p>Time: {{match.time}}</p>
    <p>Date: {{match.date}}</p>
    {{match.matchId}}
    <nav>
      <li class = "nav-button">
        <a [routerLink]="'/matches/' + match.matchId"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        Match
        </a>
      </li>
    </nav> 
  </div>