<div class="match">
    <!--uses DTO strings of teams-->
    <h1>{{ match.hometeam }}<strong> VS </strong>{{ match.awayteam }}</h1>
    <!--<h1>{{ match.homeTeamEntity.name }}<strong> VS </strong>{{ match.awayTeamEntity.name}}</h1>-->
    <p>Location: {{match.location}}</p>
    <p>Score: {{ match.hometeamscore}} - {{ match.awayteamscore }}</p>
    <p>Time: {{match.time}}</p>
    <p>Date: {{match.date}}</p>

    <nav>
      <li class = "nav-button">
        <a [routerLink]="'/matches/' + match.id"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        Match
        </a>
      </li>
    </nav> 
  </div>