.player {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; /* Add this to center align content horizontally */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    margin-bottom: 10px;
}

.player p {
    margin: 10px 0;
}

/* Style the score */
.player p:first-child {
    font-size: 24px;
    font-weight: bold;
}

/* Style the location */
.player p:nth-child(2) {
    color: #007BFF; /* Add your preferred color */
}

/* Style the time and date */
.player p:nth-child(3),

.player p:last-child {
    font-style: italic;
    color: #888;
}
  .nav-button {
    list-style: none;
    padding: 10px 30px; /* Adjust padding as needed */
    background-color: #ababac; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  .nav-button a {
    text-decoration: none;
    color:hwb(192 26% 54%)
  }