 <header class="colored-header">
  <div><img src="../favicon.ico" alt="Header Image" height="50px"></div>
  <h1>{{ headerText }}</h1>
</header>

<nav class ="nav-container">
  <li class = "nav-button">
    <a routerLink="/home"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
    Home
  </a>
  </li>
  <li class = "nav-button">
  <a routerLink="/api/players"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Players
  </a>
  </li>
  <li class = "nav-button">
  <a routerLink="/api/teams"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Teams
  </a>
  </li>
  <li class = "nav-button">
  <a routerLink="/api/matches"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Matches
  </a>
  </li>
</nav>

<main>
<router-outlet></router-outlet>
</main>

<footer class = "footer">
  <p>&copy; 2023 FOOTBALL MANAGER. All rights reserved.</p>
</footer>