 <header class="colored-header">
  <h1>{{ headerText }}</h1>
</header>

<nav class ="nav-container">
  <li class = "nav-button">
    <a routerLink="/Home"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
    Home
  </a>
  </li>
  <li class = "nav-button">
  <a routerLink="/player-list"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Players
  </a>
  </li>
  <li class = "nav-button">
  <a routerLink="/team-list"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Teams
  </a>
  </li>
  <li class = "nav-button">
  <a routerLink="/matches"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Matches
  </a>
  </li>
</nav>

<main>
<router-outlet></router-outlet>
</main>

<footer class = "footer">
  <p>&copy; 2023 FOOTBALL MANAGER. All rights reserved.</p>
</footer>