<nav>
  <a routerLink="/"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
    Home
  </a>
  <a routerLink="/player-list"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Players
  </a>
  <a routerLink="/team-list"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Teams
  </a>
  <a routerLink="/matches"
     routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >
    Matches
  </a>
</nav>

<router-outlet></router-outlet>