/* Style for the form container */
.form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
  }
  
  /* Style for the form header */
  .creatematch {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style for form labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Style for form inputs */
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style for the submit button */
  button[type="submit"] {
    background-color: #55957f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style for the submit button on hover */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }