.matches-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.match{
    max-width: 400px;
    display:flex;
    flex-direction: column;
}
.search-bar{
    position:relative;
    display:flex;
    justify-content: center;
    margin-bottom:20px;
    width: 314px;
}
.matches{
    min-width: 314px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-button {
    list-style: none;
    padding: 10px 30px; /* Adjust padding as needed */
    background-color: #ababac; /* Button background color */
    color: #fff; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  .nav-button a {
    text-decoration: none;
    color:hwb(192 26% 54%)
  }