.Match {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.Matches-overview{
    display:grid;
    justify-content: center;
    margin:30px;
    gap:30px;
}
.search{
    position:absolute;
    top: 131px;
    left: 20px;
}
  