<h1 class = 'HeadText'>Welcome to the Football Manager</h1>

<p class = 'introParagraph'>This football manager will show you all the players and teams, including the matches they play and the final score!</p>
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>See all of our Teams!</h2>
        <h5></h5>
        <div class="fakeimg" style="height:200px;"><img src="../../assets/soccer_field-wallpaper-2560x800.jpg">
        <p>Our teams play exiting matches, You should also take a look at out matches page to be kept up to date on the amazing matches being played by out amazing teams!
            It can be really exiting and if you are on the couch at the right time you can catch all the games on TV!
        </p>
        </div>
      </div>
      <div class="card">
        <p> Our teams exist out of amazing players!</p>
        <div class="fakeimg" style="height:200px;"><img src="../../assets/istockphoto-614012274-170667a.jpg">
        <p>As you can see on youtube, some football players make some weird tricks. This happens all the more in our matches! Our players are only 
            the best out of the best of course!
        </p>
        </div>
      </div>
    </div>
    <div class="rightcolumn">
    <div class="card">
      <h2>About FootballManager</h2>
      <div class="logo" style="height:100px;"><img src="../../assets/FootballLogo.png"></div>
      <p>The football manager was created for you, football lovers to be able to catch up on your favorite matches, see the new players added to your favorite Teams
        and of course to see what your teams have been up to.
      </p>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>make sure to check in once a while to see the recent updates!</p>
    </div>
  </div>
</div>
  
  