.HeadText {
    font-size:larger;
    font-weight:700;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introParagraph{
    display: flex;
    justify-content: center;
    align-items: center;
}