<div class = "team-container">
    <div class="grid-item">
        <div class = "team-picture"><img src="../../assets/team-picture-placeholder.jpg" alt="team picture">
        </div>
    </div>

    <div *ngIf="team">
        <h2>Player Details</h2>
        <p><strong>Name:</strong> {{ team.teamName }}</p>
        <p><strong>Country:</strong> {{ team.country }}</p>
        <p><strong>City: </strong>{{team.city}}</p>
        <p><strong>id:</strong> {{ team.id }}</p>
        <!-- Add more player details as needed -->
      </div>
      <div *ngIf="!team">
        <p>Loading player details...</p>
      </div>
    <div class="grid-item">
        <section class = "text">
            <p>Here we would put a short description, and fun facts</p>
        </section>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">        
        <div class="button">
            <a routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Delete</a>
        </div>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <div class="button">
            <a routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Update</a>
        </div>
    </div>
    <div class="grid-item">
        <section>
        <p>FORM</p>
        </section></div>
    <div class="grid-item"></div>
</div>